<div class="flex items-start justify-between md:!block md:!max-h-none" style="max-height: 5rem;">
    <p class="mb-2 text-base italic text-gray-500 md:mb-6 md:pr-36">
        Still discovering genres in {{ pronoun_pos|default:"your" }} library...
    </p>
    <div class="chart-drop-shadow h-28 w-28 flex-shrink-0 md:!absolute md:!top-2 md:!right-2 md:!h-32 md:!w-32"
         style="position: relative; top: -2.5rem; right: -0.6rem;">
        <div class="cover-crosshatch border-brand-text h-full w-full animate-pulse border-2"
             style="border-radius: 9999px;"></div>
    </div>
</div>
<ol class="space-y-2 text-lg">
    {% for i in "12345" %}
        <li class="flex items-center">
            <span class="border-brand-text mr-2 inline-block h-7 w-24 animate-pulse border-2 bg-gray-200"></span>
            <span class="inline-block h-4 w-16 animate-pulse bg-gray-200"></span>
        </li>
    {% endfor %}
</ol>
