{% extends 'core/base.html' %}
{% block content %}
    <div class="flex h-full flex-col justify-center">
        <div class="mx-auto w-full max-w-2xl p-2 text-center">
            <div class="border-brand-text shadow-neo border-2 bg-white px-4 py-8 md:px-8">
                <h1 class="text-3xl font-bold tracking-widest uppercase sm:text-4xl">Create an Account</h1>
                <p class="text-brand-text mt-2 text-lg">
                    Save your Bibliotype to track your history & share it with friends.
                </p>

                <form
                    method="post"
                    class="mt-8 space-y-6 text-left"
                    x-data="{ displayName: '{{ form.username.value|default:''|escapejs }}' }"
                    novalidate
                >
                    {% csrf_token %}

                    {% if task_id_to_claim %}
                        <input type="hidden" name="task_id_to_claim" value="{{ task_id_to_claim }}" />
                    {% endif %}

                    <div>
                        <label for="{{ form.username.id_for_label }}" class="mb-1 block text-xl font-bold uppercase">
                            {{ form.username.label }}
                        </label>
                        <input
                            type="text"
                            name="{{ form.username.name }}"
                            id="{{ form.username.id_for_label }}"
                            class="border-brand-text focus:ring-brand-purple w-full border-2 bg-white p-3 text-lg focus:ring-2 focus:outline-none"
                            placeholder="Display Name..."
                            value="{{ form.username.value|default:'' }}"
                            x-model="displayName"
                            required
                        />

                        {% if form.username.help_text %}
                            <p class="mt-2 text-lg text-gray-600">{{ form.username.help_text|safe }}</p>
                        {% endif %}

                        <div
                            x-show="displayName.length > 15"
                            x-cloak
                            class="mt-2 text-lg font-bold text-red-600 uppercase"
                        >
                            Ensure this value has at most 15 characters (it has
                            <span x-text="displayName.length"></span>).
                            </div>

                        {% for error in form.username.errors %}
                            <p x-show="displayName.length <= 15" class="mt-2 text-lg font-bold text-red-600 uppercase">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>

                    {% for field in form %}
                        {% if field.name != 'username' %}
                            <div>
                                <label for="{{ field.id_for_label }}" class="mb-1 block text-xl font-bold uppercase"
                                    >{{ field.label }}</label
                                >
                                <input
                                    type="{{ field.field.widget.input_type }}"
                                    name="{{ field.name }}"
                                    id="{{ field.id_for_label }}"
                                    class="border-brand-text focus:ring-brand-purple w-full border-2 bg-white p-3 text-lg focus:ring-2 focus:outline-none"
                                    placeholder="{{ field.label }}..."
                                    value="{{ field.value|default:'' }}"
                                    required
                                />
                                {% if field.help_text %}
                                    <p class="mt-2 text-lg text-gray-600">{{ field.help_text|safe }}</p>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p class="mt-2 text-lg font-bold text-red-600 uppercase">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% include 'core/partials/buttons/primary_button.html' with text="Create Account & Save DNA" %}
                </form>
            </div>
            <div class="mt-8">
                <p class="text-lg">
                    Already have an account?
                    <a href="{% url 'core:login' %}" class="hover:bg-brand-yellow font-bold uppercase underline"
                        >Log In</a
                    >
                </p>
            </div>
        </div>
    </div>
{% endblock %}
