{% if color == 'green' %}
    {% if hover_color == 'yellow' %}
        <button
            type="{{ type|default:'submit' }}"
            class="bg-brand-green text-brand-text border-brand-text shadow-neo-sm border-2 px-4 py-2 font-bold transition-all duration-150 ease-in-out hover:bg-brand-yellow hover:shadow-none active:translate-x-0.5 active:translate-y-0.5 cursor-pointer {{ extra_classes|default:'' }}"
            {{ extra_attrs|safe }}
            >
            {{ text }}
        </button>
    {% else %}
        <button
            type="{{ type|default:'submit' }}"
            class="bg-brand-green text-brand-text border-brand-text shadow-neo-sm border-2 px-4 py-2 font-bold transition-all duration-150 ease-in-out hover:shadow-none active:translate-x-0.5 active:translate-y-0.5 cursor-pointer {{ extra_classes|default:'' }}"
            {{ extra_attrs|safe }}
            >
            {{ text }}
        </button>
    {% endif %}
{% elif color == 'pink' %}
    {% if hover_color == 'yellow' %}
        <button
            type="{{ type|default:'submit' }}"
            class="bg-brand-pink cursor-pointer text-brand-text border-brand-text shadow-neo-sm hover:bg-brand-yellow hover:shadow-none border-2 px-4 py-2 font-bold transition-all duration-150 ease-in-out active:translate-x-0.5 active:translate-y-0.5 {{ extra_classes|default:'' }}"
            {{ extra_attrs|safe }}
            >
            {{ text }}
        </button>
    {% else %}
        <button
            type="{{ type|default:'submit' }}"
            class="bg-brand-pink cursor-pointer text-brand-text border-brand-text shadow-neo-sm border-2 px-4 py-2 font-bold transition-all duration-150 ease-in-out hover:shadow-none active:translate-x-0.5 active:translate-y-0.5 {{ extra_classes|default:'' }}"
            {{ extra_attrs|safe }}
            >
            {{ text }}
        </button>
    {% endif %}
{% elif color == 'purple' %}
    <button
        type="{{ type|default:'submit' }}"
        class="bg-brand-purple border-brand-text shadow-neo-sm hover:bg-opacity-90 block w-full border-2 px-4 py-2 text-center font-bold transition-all duration-150 ease-in-out active:translate-x-0.5 active:translate-y-0.5 {{ extra_classes|default:'' }}"
        {{ extra_attrs|safe }}
        >
        {{ text }}
    </button>
{% else %}
    <button
        type="{{ type|default:'submit' }}"
        class="bg-brand-green text-brand-text border-brand-text shadow-neo-sm border-2 px-4 py-2 font-bold transition-all duration-150 ease-in-out hover:shadow-none active:translate-x-0.5 active:translate-y-0.5 cursor-pointer {{ extra_classes|default:'' }}"
        {{ extra_attrs|safe }}
        >
        {{ text }}
    </button>
{% endif %}
