<div
    x-data="{ editing: false, newName: '{{ user.username|escapejs }}', originalName: '{{ user.username|escapejs }}', errorMessage: '',  get isNewNameValid() { return this.newName.trim() !== '' && this.newName.length <= 15; },  updateUsername: function() { if (!this.isNewNameValid) return; this.errorMessage = ''; fetch('{% url "core:api_update_username" %}', { method: 'POST', headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}' }, body: JSON.stringify({ username: this.newName }) }) .then(response => response.json()) .then(data => { if (data.status === 'success') { window.location.reload(); } else { this.errorMessage = data.message; } }) .catch(() => { this.errorMessage = 'Could not connect to the server.'; }); } }"
    class="inline-block"
>
    <div
        x-show="!editing"
        class="flex flex-col items-center justify-center gap-y-2 text-4xl sm:text-5xl md:flex-row md:gap-x-3"
    >
        <div class="inline-flex items-center">
            <div
                @click="editing = true; $nextTick(() => $refs.usernameInput.select())"
                class="group relative cursor-pointer"
            >
                <span
                    class="bg-brand-yellow group-hover:border-brand-text absolute inset-0 z-10 border-2 border-transparent transition-colors"
                ></span>
                <span class="relative z-20 px-2" x-text="originalName"></span>
                <div class="text-brand-text absolute -right-2 -bottom-2 z-30">
                    <svg
                        class="h-7 w-7"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        fill="currentColor"
                    >
                        <path
                            d="M14 0l2 2-2 2-2-2 2-2zM12 2l2 2-8 8H4v-2l8-8zM2 12v2h2l-l-2-2z"
                        />
                    </svg>
                </div>
            </div>
            <span x-text="originalName.toLowerCase().endsWith('s') ? `'` : `'s`"></span>
        </div>
        <span>Bibliotype</span>
    </div>
    <div x-show="editing" x-cloak class="flex justify-center">
        <form
            @submit.prevent="updateUsername"
            @keydown.escape.window="editing = false; newName = originalName"
            class="inline-flex items-stretch gap-4"
        >
            <input
                type="text"
                x-ref="usernameInput"
                x-model="newName"
                maxlength="15"
                class="border-brand-text focus:border-brand-purple w-full border-2 bg-white p-1 text-4xl font-bold tracking-widest uppercase focus:outline-none sm:text-5xl"
            />
            {% include 'core/partials/buttons/small_button.html' with text="Save" color="green" type="submit" extra_classes="text-xl" extra_attrs=':disabled="!isNewNameValid" :class="{ \'opacity-50 cursor-not-allowed\': !isNewNameValid }"' %}
        </form>
    </div>
    <div x-show="editing && newName.length > 15" class="mt-2 text-lg font-bold text-red-600">
        Display name cannot be more than 15 characters.
    </div>
    <div
        x-show="editing && errorMessage"
        x-text="errorMessage"
        class="mt-2 text-lg font-bold text-red-600"
    ></div>
</div>
